
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Home-CSS")
}
@*<div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
            <h4 class="panel-title"><span class="fa fa-th-large"></span> @ViewBag.Title</h4>
        </div>
        <div class="panel-body">

        </div>
    </div>*@
<div class="m-b-10 m-t-10 f-s-10">
    <b class="text-inverse">SYSTEM STATUS</b>
</div>
<div class="row row-space-10 m-b-20">
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-gradient-teal m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-file-pdf fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">EXPIRED SUPPLIER ATTACHMENT</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-gradient-blue m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">TASK MONITOR</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-gradient-purple m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">PRICE FOR APPROVAL</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-gradient-black m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">BUDGET REQUEST</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-gradient-orange m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-clipboard-check fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">EXPENSE REQUEST</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="widget widget-stats bg-pink m-b-10">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-clipboard-check fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">INVESTMENT REQUEST</div>
                <div class="stats-number">0</div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
</div>
@section scripts{
    @Scripts.Render("~/Home-JS")
}